@model IEnumerable<ContactManager.Models.Contact>

<div class="row">
    <div class="col-md-12">
        <h2>Contacts</h2>
        <p><a asp-action="Create" class="btn btn-primary">Add Contact</a></p>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(c => c.FirstName))
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ContactId" asp-route-slug="@item.Slug">@item.FirstName</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ContactId" asp-route-slug="@item.Slug">@item.LastName</a>
                        </td>
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>@item.Category.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>