@model ContactManager.Models.Contact
@{
    ViewData["Title"] = "Delete Contact";
}

<h2>Delete Contact</h2>

<h3>Are you sure you want to delete this contact?</h3>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Phone</dt>
        <dd class="col-sm-10">@Model.Phone</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Organization</dt>
        <dd class="col-sm-10">@Model.Organization</dd>

        <dt class="col-sm-2">Category</dt>
        <dd class="col-sm-10">@Model.Category?.Name</dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ContactId" />
    <button type="submit" class="btn btn-danger">Yes</button>
    <a class="btn btn-secondary"
       asp-action="Details"
       asp-route-id="@Model.ContactId"
       asp-route-slug="@Model.Slug">No</a>
</form>
